@import url('https://fonts.googleapis.com/css2?family=Codystar:wght@300;400&family=Handjet:wght@300&family=Open+Sans:wght@300&family=Press+Start+2P&family=Rubik+Moonrocks&family=Tilt+Prism&family=Victor+Mono:ital@1&display=swap');

body {
  background-color: #f2ab95;
}

h1 {
  font-family: 'Tilt Prism', sans-serif;
  font-size: 8rem;
  color: #f2ab95;
  text-shadow: 2px 2px 1px #000000;
  text-align: center;
}

h2 {
  font-family: 'Codystar', sans-serif;
  font-size: 2rem;
  color: #f2ab95;
  text-shadow: 2px 2px 1px #000000;
  text-align: center;
}

form {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

p {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  margin: 3rem

}